
<div style="margin: 2em auto; padding: 2em; width: 50%" class="mat-elevation-z8">
    <h3>Regístrate</h3>
    <p>Crea tu portafolio en Binder y despega tu carrera profesional</p>
    <form>
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Nombre</mat-label>
            <input matInput class="inputText" #nombre placeholder="Nombre completo" [(ngModel)]="usuario.nombre" name = 'nombre'>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Correo</mat-label>
            <input matInput #email required placeholder="example@email.com" class="inputText" [(ngModel)]="usuario.correo" name = 'correo'>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" #contrasenha required class="inputText" [(ngModel)]="usuario.contrasenha" name = 'contrasenha'>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Nombre de tu portafolio</mat-label>
            <input matInput #binder required placeholder="Ejemplo: Diseño UX/UI" class="inputText" [(ngModel)]="usuario.binder" name = 'binder'>
            <mat-hint>Respetamos tu privacidad al no compartir tu correo con terceros</mat-hint>
        </mat-form-field>
        <button mat-raised-button type="submit"color="primary" style="margin: 1em;" (click)="agregarUsuario()" routerLink=""> Enviar</button>
        <button mat-raised-button type="reset" color="secondary" style="margin-left: 1em;">Limpiar datos</button>
    </form>
</div>