<mat-toolbar color="primary">
    <span routerLink="" style="cursor: pointer;">Binder</span>
    <span class="example-spacer"></span>
      <a mat-flat-button color= "primary" style="margin-left: 1em;" routerLink="">
        Inicio
      </a>
      <a mat-flat-button color= "primary" style="margin-left: 1em;" routerLink="">
        Iniciar Sesion
      </a>
       <a mat-flat-button color= "primary" style="margin-left: 1em;" routerLink="registro">
        Regístrate
      </a>
  </mat-toolbar>


<div style="width: 70%; padding: 1em; margin: 1em auto">
    <h2 style="text-align: center;">Bienvenido a Binder</h2>
    <h2 style="text-align: center;">Inicia sesion para continuar</h2>
    <p> Binder ha sido diseñado especialmente como repositorio alternativo para que puedas almacenar tus proyectos de forma 100% segura,<br>
    además podrás acceder a ellos desde cualquier dispositivo móvil. <br>
    Te ayudará a mostrarle al mundo de lo que eres capaz! <br>
    Comienza ahora a crear!</p>
    <img src="https://cdn3.iconfinder.com/data/icons/business-finance-vol-5-13/512/28-512.png" alt="binder" style="margin: 0 auto; display: block;">

</div>
