<div style="background-image: url('https://www.telemundo.com/sites/nbcutelemundo/files/styles/full/public/images/gallery/2018/09/17/persona-escribiendo-en-computadora-13.jpg'); background-repeat: no-repeat; background-size: cover;">       
    <div id="container"> 
          <div id="binder">
            <br>
          <h1>Bienvenido a Binder</h1>
          <mat-grid-list cols=" 3" rowHeight="370px">
              <mat-grid-tile colspan="1" rowspan="2">
              </mat-grid-tile>
                  <div id=texto>
                      <p> Binder ha sido diseñado especialmente como repositorio alternativo <br> 
      para que puedas almacenar tus proyectos de forma 100% segura,<br>
      además podrás acceder a ellos desde cualquier dispositivo móvil. <br>
      Te ayudará a mostrarle al mundo de lo que eres capaz.</p>
      <h2>¡Comienza ahora a crear!</h2>
</div>


<div style="margin: 5em auto; padding: 2em; width: 50%" class="mat-elevation-z8 sesion">
  <h3>Inicia Sesión</h3>
  <form>
      <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label class="label">Correo</mat-label>
          <input matInput type="email" #email required placeholder="ejemplo@email.com">
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label class="label">Contraseña</mat-label>
          <input matInput type="password" required placeholder="contraseña" pattern="([a-z])(?=.*[A-Z]).{4,}"
          title="Debe contener al menos un número, una letra mayúscula o minúscula. 4 caracteres mínimo.">
      </mat-form-field>
      <button mat-raised-button color="primary" style="margin: 1em;">Enviar</button>
      <button mat-raised-button type="reset" color="secondary" style="margin-left: 1em;">Limpiar datos</button>
  </form>
</div>

<br>
<br>
<br>
<footer>
 <h4>Desarrolladores: <br>
  <br>
       * Angie Baltodano * Camila Corvalán * Francisca Moya * José Moncada </h4>
</footer>


