<div id="container"> 
  <div id="binder">
      <h1>Bienvenido a Binder</h1>
      <mat-grid-list cols=" 3" rowHeight="150px">
          <mat-grid-tile colspan="1" rowspan="2">
              <img src="https://cdn3.iconfinder.com/data/icons/business-finance-vol-5-13/512/28-512.png"
                  width="250" height="250">
          </mat-grid-tile>
          <mat-grid-tile colspan="2" rowspan="1">
              <div id=texto>
                  <p> Binder ha sido diseñado especialmente como repositorio alternativo <br> 
  para que puedas almacenar tus proyectos de forma 100% segura,<br>
  además podrás acceder a ellos desde cualquier dispositivo móvil. <br>
  Te ayudará a mostrarle al mundo de lo que eres capaz. <br>
  ¡Comienza ahora a crear!</p>
              </div>
          </mat-grid-tile>
