<mat-toolbar color="wanr">
  <img src="https://cdn2.iconfinder.com/data/icons/business-and-finance-130/300/icon-24-512.png"
  height="60px">
  <span routerLink="" style="cursor: pointer;"><b>BINDER</b></span>
  <span class="example-spacer"></span>
    <a mat-flat-button color= "wanr" style="margin-left: 1em;" routerLink="iniciar sesion">
      <b>INICIAR SESIÓN</b>
    </a>
     <a mat-flat-button color= "wanr" style="margin-left: 1em;" routerLink="registrate">
      <b>REGÍSTRATE</b>
    </a>
</mat-toolbar>
<router-outlet></router-outlet>

